<h3>
  Outgoing
  {{#link-to "deliveries.new" class="new-delivery-button btn btn-primary pull-right"}}New Delivery{{/link-to}}
</h3>

{{models-table
  data=outgoingTransfers
  columns=outgoingColumns
  multipleColumnsSorting=false
  showColumnsDropdown=false
  showGlobalFilter=false
  showPageSize=false
  pageSize=20
}}

<h3>Incoming</h3>
{{models-table
  data=incomingTransfers
  columns=incomingColumns
  multipleColumnsSorting=false
  showColumnsDropdown=false
  showGlobalFilter=false
  showPageSize=false
  pageSize=20
}}
