<h3>
  Outgoing
  {{#if setupForDelivery}}
    <button class="btn btn-primary pull-right" onclick={{action 'newDelivery'}}>New Delivery</button>
  {{/if}}
</h3>

{{#if notSetupForDelivery}}
  {{email-setup-warning}}
{{/if}}

{{models-table
  data=outgoingTransfers
  columns=outgoingColumns
  multipleColumnsSorting=false
  showColumnsDropdown=false
  showGlobalFilter=false
  showPageSize=false
  pageSize=20
}}

<h3>Incoming</h3>
{{models-table
  data=incomingTransfers
  columns=incomingColumns
  multipleColumnsSorting=false
  showColumnsDropdown=false
  showGlobalFilter=false
  showPageSize=false
  pageSize=20
}}
