{{select-email-template-set value=delivery.emailTemplateSet
                            emailTemplateSets=emailTemplateSets
                            onChange=(action "onChangeEmailTemplateSet")}}
<label class="control-label">Email Preview</label>
{{#if emailMessage}}
  {{delivery-email emailMessage}}
{{else}}
  {{#unless errors}}
    <div class="well well-sm loading-message">{{#loading-indicator}}Generating Preview{{/loading-indicator}}</div>
  {{/unless}}
{{/if}}
