{{duke-ds-user-search-fields onSearch=(action 'doSearch')}}
{{#if users}}
  <h4>Search Results:</h4>
  {{duke-ds-user-list users=users selectedItems=selectedUsers selectionChanged=(action 'selectionChanged')}}
{{/if}}
{{yield}}
