{{#bs-form formLayout='vertical' model=this onSubmit=(action 'search') as |form|}}
  {{#form.element controlType="text" label="Search DukeDS Users" property="query" placeholder=kind.placeholder  as |el|}}
    <div class="input-group">
      <div class="input-group-addon">
        {{#each kinds as |k|}}
          <label class="input-group-text">{{radio-button value=k checked=kind}} <span>{{k.name}}</span></label>
        {{/each}}
      </div>
      {{el.control}}
    </div>
  {{/form.element}}
  {{bs-button defaultText="Search" type="primary" buttonType="submit" class='pull-right'}}
{{/bs-form}}
