<hr>
<h4 class="email-template-detail-type panel-title">{{model.userType}} - Email Template</h4>
<p class="email-template-detail-help help-block">{{model.helpText}}</p>
{{delivery-email model.content}}
{{yield}}
