{{#bs-alert type="danger"}}
  Email templates need to be setup for your account for you to create deliveries. <br />
  Please contact us at <a href={{contactEmail}}>{{contactEmail}}</a>.
  {{yield}}
{{/bs-alert}}
