{{#detail-label-value label="Size"}}
  {{duke-ds-project-size project}}
{{/detail-label-value}}
{{#detail-label-value label="View at Duke Data Service"}}
  {{duke-ds-project-link project}}
{{/detail-label-value}}
{{#detail-label-value label="Download as Zip File"}}
  {{#if showWarning}}
    {{zip-download-info}}
  {{/if}}
  <p>{{duke-ds-project-zip-download-link project}}</p>
{{/detail-label-value}}
