<thead>
  <tr>
    <th>Name</th>
    <th>NetID</th>
    <th>Email</th>
    <th>Action</th>
  </tr>
</thead>
<tbody class="share-users-table-tbody">
  {{#each shareUsers as |shareUser|}}
    <tr>
      <td>
        {{ shareUser.fullName }}
      </td>
      <td>
        {{ shareUser.username }}
      </td>
      <td>
        {{ shareUser.email }}
      </td>
      <td>
        {{#bs-button type="default" onClick=(action "removeUser" shareUser) class="back-button"}}Remove{{/bs-button}}
      </td>
    </tr>
  {{/each}}
  {{#unless shareUsers}}
    <tr>
      <td colspan="4" class="share-users-table-no-users-message">
        No users selected
      </td>
    </tr>
  {{/unless}}
</tbody>
<tfoot>
  <tr>
    <td colspan="4">
      {{#bs-button type="primary" onClick=(action "addUser") class="share-users-table-add-user pull-right btn-sm"}}
        Add User
      {{/bs-button}}
    </td>
  </tr>
</tfoot>

{{yield}}