<div class="panel panel-warning">
  <div class="panel-heading">
    <p class="panel-title">Please verify your zip file after downloading</p>
  </div>
  <div class="panel-body">
    <p>
      Due to technical limitations, interrupted downloads may appear to succeed, but result in an incomplete,
      unusable file. Large data sets (e.g. over 1GiB) take more time to download, and are more likely to be interrupted.
    </p>
    <p>
      Please check your download <strong>promptly</strong> by opening or extracting the zip file to confirm a successful
      transfer. If you can open or extract the zip file, the download succeeded. If you are unable to open the zip file,
      please retry the download.
    </p>
    <p>
      If you continue to experience download issues after retrying, please contact us at
      <a href={{mailToSupportEmail}}>{{supportEmail}}</a>.
    </p>
  </div>
</div>
