{{delivery-breadcrumbs selectedRouteName="deliveries.index"}}
<h2>All Deliveries</h2>

{{delivery-table model currentDukeDsUser}}

{{#link-to 'deliveries.new' class="btn btn-primary"}}New Delivery{{/link-to}}