{{delivery-breadcrumbs}}
<h3>Setup Instructions</h3>

<p class="body">
  {{email-setup-message contactEmail="gcb-help@duke.edu" emailSubject="Data Delivery Email Template Setup Request"}}
</p>

{{outlet}}
