{{delivery-breadcrumbs user=application.currentUser}}
<h3>Setup Instructions</h3>

<p class="body">
  {{email-setup-message emailSubject="Data Delivery Email Template Setup Request"}}
</p>

{{outlet}}
