{{delivery-breadcrumbs selectedRouteName="deliveries.new"}}
<h1>New Delivery</h1>
<h4>
  Please confirm the delivery below.
</h4>
<p class="body">
  The selected user will receive the following email to accept or decline the delivery.
  Upon acceptance, the recipient will be the owner of the data set, and you will retain read-only access.
</p>

{{delivery-preview delivery=delivery errors=errors onFail=(action 'previewFailed')}}

{{error-message-alert errorMessages}}

{{#link-to backRoute (query-params projectId=projectId toUserId=toUserId userMessage=userMessage) class='btn btn-default'}}Back{{/link-to}}
{{#bs-button type="primary" disabled=disableNext onClick=(action 'saveAndSend') class="pull-right next-button"}}Send Delivery{{/bs-button}}
