{{#select-recipient-page projectName="your project"
                         backRoute=backRoute
                         disableBack=true
                         nextRoute=nextRoute
                         disableNext=true }}
  <div class="row text-center h4">
    {{#loading-indicator}}Fetching users{{/loading-indicator}}
  </div>
{{/select-recipient-page}}
{{outlet}}
