{{delivery-breadcrumbs selectedRouteName="deliveries.new"}}
<h1>New Delivery</h1>
<h4>Select project to deliver.</h4>

{{duke-ds-project-list model selectionChanged=(action 'projectSelectionChanged')}}

{{#bs-button type="default" onClick=(action 'back') class="back-button"}}Back{{/bs-button}}

{{#bs-button type="primary" disabled=disableNext onClick=(action 'next') class="pull-right next-button"}}Next{{/bs-button}}

{{outlet}}
