<h4>
  Select the user you wish to transfer ownership of <b>{{project.name}}</b> to.
</h4>
<p class="body">
  The selected user will take ownership of the project once the delivery is accepted.
  Once the delivery is accepted you will retain read-only permissions.
</p>

{{duke-ds-user-search onUserSelected=(action 'recipientSelectionChanged')}}

{{#link-to backRoute class='btn btn-default'}}Back{{/link-to}}
{{#link-to nextRoute class='btn btn-primary pull-right' disabled=disableNext}}Next{{/link-to}}

{{outlet}}
