<h4>Select a project to deliver to another user.</h4>
<p class="body">
  This will transfer ownership of the project to another user.
  Once the recipient accepts the delivery you will retain read-only permissions.
</p>

{{error-message-alert errorMessages}}
{{duke-ds-project-list model selectionChanged=(action "projectSelectionChanged")}}

{{#link-to backRoute class="btn btn-default"}}Back{{/link-to}}
{{#link-to nextRoute class="btn btn-primary pull-right" disabled=disableNext}}Next{{/link-to}}

{{outlet}}
