<h4>
  Select a users to share project <b>{{project.name}}</b> with after the delivery is accepted.
</h4>
<p class="body">
  Optionally add a user to receive download permissions after the delivery is accepted by {{toUser.fullName}}.
</p>

{{duke-ds-auth-provider-affiliate-search
  onAffiliateSelected=(action "affiliateSelected")
}}

{{#link-to "deliveries.new.select-share-users" class="btn btn-default"}}Cancel{{/link-to}}
{{#bs-button onClick=(action "save") class="btn btn-primary pull-right" disabled=disableSave}}Add Share User{{/bs-button}}

{{outlet}}