{{delivery-breadcrumbs user=application.currentUser}}

<h2>My Duke DS Projects</h2>
<p>
  Your Duke DS Projects are listed below. Click on a project name to view the project's total size and link to download.
</p>
{{projects-table projects=model}}
