{{delivery-breadcrumbs context=model}}
<h3>Project Details</h3>

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project: {{model.name}} </h3>
  </div>
  <div class="panel-body">
    {{project-detail model}}
  </div>
</div>
