{{delivery-breadcrumbs selectedRouteName="deliveries.show" transfer=model}}

{{#if infoMessage}}
  {{#bs-alert type="success"}}
    {{infoMessage}}
  {{/bs-alert}}
{{/if}}

<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project: {{model.project.name}} </h3>
  </div>
  <div class="panel-body">
    {{delivery-detail model}}
  </div>
</div>

<div class="pull-right">
  {{#if canResend}}
    {{#link-to "deliveries.show.resend" model class="btn btn-primary"}}Resend Delivery Email{{/link-to}}
  {{/if}}
  {{#if canRecall}}
    {{#link-to "deliveries.show.recall" model class="btn btn-danger"}}Recall Delivery{{/link-to}}
  {{/if}}
</div>
