{{delivery-breadcrumbs selectedRouteName="deliveries.show" transfer=model}}
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Project: {{model.project.name}} </h3>
  </div>
  <div class="panel-body">
    {{delivery-detail model}}
  </div>
</div>
{{#if infoMessage}}
  {{#bs-alert type="success"}}
    {{infoMessage}}
  {{/bs-alert}}
{{/if}}

{{#if canResend}}
  {{#link-to "deliveries.show.resend" model class="btn btn-primary pull-right"}}Resend{{/link-to}}
{{/if}}
