{{delivery-breadcrumbs selectedRouteName="index"}}
<h2>Data Delivery</h2>
<p>Welcome to Data Delivery. This application is a project of <a href="https://genome.duke.edu">Duke GCB</a>.
  Data Delivery and is designed to facilitate transactional delivery of data sets stored in in <a href="https://dataservice.duke.edu">Duke Data Service</a>.</p>
<p>You can use this application to list and download your {{#link-to 'duke-ds-projects'}}DukeDS Projects{{/link-to}}, or Create, Send, and Manage {{#link-to 'deliveries'}}Deliveries{{/link-to}}
</p>
{{outlet}}
