{{delivery-breadcrumbs user=application.currentUser}}
<h2>Data Delivery</h2>
<p>
  Welcome to Data Delivery. This application is a project of <a href="https://genome.duke.edu">Duke GCB</a>.
  Data Delivery and is designed to facilitate transactional delivery of data sets stored
  in <a href="https://dataservice.duke.edu">Duke Data Service</a>.
</p>
<p>
  You can use this application to list and download your projects in Duke Data Service, and also
  to deliver those projects to other Duke DS users. Please use the buttons below to browse your
  projects or deliveries.
</p>
<div>
  {{#link-to "duke-ds-projects" class="btn btn-primary btn-lg"}}DukeDS Projects{{/link-to}}
  {{#link-to "deliveries" class="btn btn-primary btn-lg"}}Deliveries{{/link-to}}
  {{#link-to "cloud-deliveries" class="btn btn-primary btn-lg"}}Cloud Deliveries{{/link-to}}
  {{#link-to "email-template-sets" class="btn btn-primary btn-lg"}}Email Templates{{/link-to}}
</div>

{{outlet}}
